/**
 * Main Variables
 */
/**
 * Mixins
 */
/**
 * Styles
 */
.mtr-datepicker * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mtr-datepicker .mtr-input-slider {
  width: 50px;
  height: 75px;
  overflow: hidden;
  margin: 14px 6px;
  position: relative;
  float: left;
  text-align: center;
  vertical-align: middle;
  /** The navigatators of the input */
  /** The input field and values are stored here */
}
.mtr-datepicker .mtr-input-slider .arrow {
  height: 15px;
  line-height: 15px;
  cursor: pointer;
  z-index: 0;
  position: relative;
}
.mtr-datepicker .mtr-input-slider .arrow span {
  display: block;
  margin: 0 auto;
}
.mtr-datepicker .mtr-input-slider .content {
  overflow: hidden;
  height: 45px;
  z-index: 1;
  position: relative;
}
.mtr-datepicker .mtr-input-slider .content .input {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  height: 45px;
  line-height: 45px;
  text-align: center;
}
.mtr-datepicker .mtr-input-slider .content input {
  border: none;
  height: 45px;
}
.mtr-datepicker .mtr-input-slider .content .values .default-value-holder,
.mtr-datepicker .mtr-input-slider .content .values .default-value {
  height: 45px;
  line-height: 45px;
  font-size: 15px;
  font-size: 1.5rem;
}
.mtr-datepicker .mtr-input-slider .content .values .default-value.has-name,
.mtr-datepicker .mtr-input-slider .content .values .default-value-name {
  height: inherit;
  line-height: 22.5px;
}
.mtr-datepicker .mtr-input-slider .content .values .default-value.has-name {
  height: 22.5px;
}
.mtr-datepicker .mtr-input-slider .content .values .default-value-name {
  font-size: 10px;
  font-size: 1rem;
}
.mtr-datepicker .mtr-input-slider .content::-webkit-scrollbar {
  display: none;
}
.mtr-datepicker .mtr-input-radio {
  margin: 14px 10px;
  padding-top: 15px;
  position: relative;
  float: left;
  font-size: 13px;
  font-size: 1.3rem;
}
.mtr-datepicker .mtr-input-radio label {
  position: relative;
}
.mtr-datepicker .mtr-input-radio label span {
  position: relative;
  float: left;
}
.mtr-datepicker .mtr-row {
  position: relative;
  float: left;
}
.mtr-datepicker .mtr-clearfix {
  clear: both;
}
