
/**
 * Main Variables
 */

@input-margin: 14px 6px;

@input-slider-width: 50px;
@input-slider-height: 75px;
@input-slider-arrow-height: 15px;
@input-slider-margin: @input-margin;

@input-slider-content-height: @input-slider-height - (2 * @input-slider-arrow-height);

@input-radio-margin: 14px 10px;

/**
 * Mixins
 */

.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
}

/**
 * Styles
 */

.mtr-datepicker {

	* {
		-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	}

	.mtr-input-slider {
		width: @input-slider-width;
		height: @input-slider-height;
		overflow: hidden;
		margin: @input-slider-margin;
		position: relative;
		float: left;

		text-align: center;
		vertical-align: middle;

		/** The navigatators of the input */
		.arrow {
			height: @input-slider-arrow-height;
			line-height: @input-slider-arrow-height;
			cursor: pointer;

			span {
				display: block;
				margin: 0 auto;
			}
		}

		/** The input field and values are stored here */
		.content {
			overflow: auto;
			height: @input-slider-content-height;

			.input {
				width: 100%;
				margin: 0;
				padding: 0;
				border: none;
				height: @input-slider-content-height;
				line-height: @input-slider-content-height;
				text-align: center;
			}

			input {
				border: none;
			}

			.values {

				.default-value-holder,
				.default-value {
					height: @input-slider-content-height;
					line-height: @input-slider-content-height;
					.font-size(1.5);
				}

				.default-value.has-name,
				.default-value-name {
					position: relative;

					height: @input-slider-content-height / 2;
					line-height: @input-slider-content-height / 2;
				}

				.default-value-name {
					.font-size(1.0);
				}
			}
		}

		.content::-webkit-scrollbar {
			display: none;
		}
	}

	.mtr-input-radio {
		margin: @input-radio-margin;
		padding-top: @input-slider-arrow-height;
		position: relative;
		float: left;

		.font-size(1.3);

		label {
			position: relative;

			span {
				position: relative;
				float: left;
			}
		}
	}

	.mtr-row {
		position: relative;
		float: left;
	}

	.mtr-clearfix {
		clear: both;
	}
}